@import './src/assets/styles/vars.scss';

.haventAccount {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
  box-shadow: 0px 4px 27px rgba(158, 158, 158, 0.25);
  border-radius: 20px;
  background-color: $white;
  margin-top: 20px;

  p{
    font-size: 20px;
    line-height: 23px;
    color:$textSecond;

    button{
        background-color: transparent;
        font-size: inherit;
        line-height: inherit;
        border: none;
        color:$purple;
        cursor: pointer;
        transition: color .2s linear;
        @media(any-hover:hover){
            &:hover{
                color:rgba($purple, .6)
            }
        }
    }
  }
}
