@import "../../../assets/styles/vars.scss";

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.ultraSmall {
    font-size: 18px;
}

.small {
    font-size: 20px;
}

.middle {
    font-size: 24px;
}

.big {
    font-size: 30px;
}

.white {
    color: $white;
}

.blueDark {
    color: $title;
}

.grey {
    color: $text;
}

.textSecondColor{
    color:$textSecond;
}

.noto {
    font-family: $noto;
}

.play {
    font-family: $play;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb40 {
    margin-bottom: 40px;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}
