@import "../../../assets/styles/vars.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    &__inner {
        height: 112px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
