@import "../../../assets/styles/vars.scss";

.footer {
    background-color: $purple;
    padding: 40px 0 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__socials {
        display: flex;
        li + li {
            margin-left: 25px;
        }
    }
}
