// ========== COLORS =============

$purple: #915eff;
$text: #9491a5;
$title: #021f4f;
$bg: #fbfbfb;
$white: #fff;

// ========== FONTS ================

$play: "Play", sans-serif;
$noto: "Noto Sans", sans-serif;
